<!DOCTYPE html>
<html>
<head>
  <% if @pagename == "nil" %>
    <title>The Marmite Revolution - It's spreading. </title>
  <% else %>
    <title>Marmite Junction - <%= @pagename%></title>
  <% end %>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "/javascripts/jquery-1.6.2.min.js" %>
  <%= javascript_include_tag "/javascripts/jq_actions.js" %>
  <%= csrf_meta_tag %>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-20465406-2']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>
    <div class="jq_test">
    </div>
  <div id='holder'>
    <div id="header">
      <div class="jq_test2">a</div>
      <div id=logo><a href='/'><img src='/logo.png' /></a></div>
      <div id='sitemap'>
        <div id=link2><%= link_to 'Home', '/', :class => 'red' %></div>
        <div id=link><%= link_to "Marmite Files", "/files"%></div>
        <div id=link2><%= link_to "Marmite Jam", '/jam' %></div>
        <div id=link><%= link_to "Sam Smith", '/sam' %></div>
        <div id=link2><%= link_to "Andrew Faraday", '/andrew' %></div>
        <% if current_user %>
          <div id='admin_menu'>
            <span>Admin Menu</span>
            <% link_to 'MFiles Embeds', files_embeds_path %>
            <% link_to "Junction Embeds", junction_embeds_path %>
   
            <% link_to "Log out", '/logout'%>
          </div>
        <% end %>
      </div>
    </div>
    <% if flash[:notice] %>
      <div id=flash><%= flash[:notice] %></div>
    <% end %>
    <% unless @pagename == 'nil' %>
      <div class=box><h1 id='subtitle'><%= @pagename%></h1></div>
    <% end %>
    <div id='sidebar'>
      <div class='sidebox'>
        <div class=backer><div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like-box href="https://www.facebook.com/pages/Marmite-Junction/194417103299" width="250" height='350' show_faces="true" border_color='#eaeaea' stream="false" header="false"></fb:like-box></div>
      </div>
      <div class='sidebox'>
<script src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'search',
  search: 'MarmiteJunction',
  interval: 6000,
  title: 'What the Twittersphere',
  subject: 'Says about us...',
  width: 250,
  height: 200,
  theme: {
    shell: {
      background: '#8ec1da',
      color: '#ffffff'
    },
    tweets: {
      background: '#ffffff',
      color: '#444444',
      links: '#1985b5'
    }
  },
  features: {
    scrollbar: false,
    loop: true,
    live: true,
    hashtags: true,
    timestamp: true,
    avatars: true,
    toptweets: true,
    behavior: 'default'
  }
}).render().start();
</script>
      </div>
    </div>

    <div id="content">
      <%= yield %>
    </div> 
  </div> 
</body>
</html>
